.name {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 300%;
  /* margin-bottom: -100px; */
}

container {
  color: pink;
  width: 100%;
  length: 50%;
}

body {
  /* background-image: linear-gradient(black, #00f1ff); */
  /* background-image: linear-gradient( #77f9ff, #000000); */
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 18%, rgba(11,130,207,100) 53%, rgba(119,248,255,1) 100%);
  }

  
.background {
  max-width: 100%;
  position: static;
  
}

.heading {
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -55px;
  top: 220px;
/*   transform: translate(-50%, -50%);
} */
}


#canvasHolder {
  width:100%;
  height: 300px;
}


.topText {
  color:#00656b;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project {
    background-color: #defdff; /* Changing background color */
    border-radius: 20px; /* Making border radius */
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    padding: 5px 20px 5px 20px; /* Making space around letters */
    font-size: 18px; /* Changing font size */
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.projectText {
  color: #00656b;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

 /* Style the button that is used to open and close the collapsible content */
.button {
  background-color: #defdff;
  color:  #00656b;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .button:hover {
  background-color: #a9e6eb;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #defdff;
} 

.headingContainter {
}

.openableProject {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.right {
  justify-content: flex-end;
}

.lineLeftRight {
  width:60%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.lineRightLeft {
  width:60%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.compSci {
  width: 15%;
}

.clickMe {
  position: absolute;
  left:-10vw;
  bottom:0px;
  width: 10vw;
}
